<div 
    class="default-node @(Node.Group != null ? "grouped" : "") @(Node.Selected ? "selected" : "")"
    style=@Style
>
    <ResizersRenderer Node=Node OnSizeChange=OnSizeChange></ResizersRenderer>
    @(Node.Title ?? "Title")
    @foreach (var port in Node.Ports)
    {
        <PortRenderer @key="port" Port="port" Class="default"></PortRenderer>
    }
</div>

@code {

    [Parameter]
    public NodeModel Node { get; set; } = null!;

    string Style = String.Empty;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (Node.Size != null)
        {
            Style = GenerateStyle(Node.Size.Width, Node.Size.Height);
        }
    }

    private void OnSizeChange(Size size)
    {
        Style = GenerateStyle(size.Width, size.Height);
    }

    private static string GenerateStyle(double width, double height)
    {
        return FormattableString.Invariant($"width: {width}px; height: {height}px");
    }
}