<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="proget-gallery" value="https://proget.wtg.zone/nuget/Gallery/v3/index.json" />
        <add key="wtg-internal" value="https://proget.wtg.zone/nuget/WTG-Internal/v3/index.json" />
    </packageSources>
    <config>
        <add key="globalPackagesFolder" value=".\packages" />
    </config>
</configuration>